.wrapper {
  margin: auto;
  padding: 2em;

  /* sizes */
  &--small {
    max-width: 640px;
  }

  &--medium {
    max-width: 896px;
  }

  &--large {
    max-width: 1024px;
  }

  &--extra-large {
    max-width: 1152px;
  }
}
