.brand {
  & > * {
    display: inline-block;
    vertical-align: middle;
  }

  .icon--normal {
    width: 90px;
    height: 90px;
  }

  .brand__label {
    display: inline-block;
    margin-top: rem(12px);
    margin-left: rem(16px);
  }

  /* variants */
  &--default {  }
}
