:root {
  --trigger-padding: rem(10px) var(--target-padding);
}

.expand {
  display: flex;

  &__trigger {
    border: none;
    font-size: inherit;
    padding: var(--trigger-padding);
    text-align: start;
    width: 100%;
  }

  /* states */
  &-state {
    &--open {
      .expand__target {
        max-height: 4000px;
      }
    }

    &--closed {
      .expand__target {
        overflow: hidden;
        max-height: 0;
      }
    }
  }

  /* variants */
  flex-direction: column;

  &-align--bottom {
    flex-direction: column-reverse;
  }

  &-align--top {
    flex-direction: column;
  }

  &-align--right {
    flex-direction: row;
  }

  &-align--left {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
