/*
  The breakpoints for all resolutions represented as pairs with the breakpoint name and its associated pixel width.
  Note custom-media variables do not conflict with custom-properties
  http://cssnext.io/features/#custom-media-queries

  @media (--medium) { ..styles.. }
*/

:export {
  --extra-small: only screen and (min-width: rem(384px));
  --small: only screen and (min-width: rem(512px));
  --medium-small: only screen and (min-width: rem(640px));
  --medium: only screen and (min-width: rem(768px));
  --medium-large: only screen and (min-width: rem(896px));
  --large: only screen and (min-width: rem(1024px));
  --extra-large: only screen and (min-width: rem(1152px));

  /* mobile only breakpoint */
  --below-extra-small: only screen and (max-width: rem(384px));
  --below-small: only screen and (max-width: rem(512px));
  --below-medium-small: only screen and (max-width: rem(640px));
  --below-medium: only screen and (max-width: rem(768px));
  --below-medium-large: only screen and (max-width: rem(896px));
  --below-large: only screen and (max-width: rem(1024px));
  --below-extra-large: only screen and (max-width: rem(1152px));
}
