/*
  The color palette for the project.
  http://cssnext.io/features/#color-function

  background-color: var(--color-black);
  color: var(--color-white);

  IMPORTANT:
  In order for the project colors to be included on the colors sample page,
  please prefix all variables inside this file with '--color'.
*/

:export {
  /* General colors */
  --color-red: #fa0000;
  --color-blue: #0000fa;
  --color-yellow: #ffff00;
  --color-green: #008000;

  /* Grayscale */
  --color-white: #fff;
  --color-gray-light: #dcdcdc;
  --color-gray: #8c8c8c;
  --color-gray-dark: #4c4c4c;
  --color-black: #000000;

  /* Text colors */
  --color-text--primary: var(--color-black);
  --color-text--secondary: var(--color-white);

  /* Project colors */
}
