/*
  Define font variables.
  A default fonts and stacks are typically reserverd for body typography, while accent are for headings and captions.
*/

:root {
  /* Individual font faces */
  --font-name--default: 'Open Sans';
  --font-name--accent: 'Merriweather';

  /* Font face stacks */
  --font-stack--default: var(--font-name--default), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-stack--accent: var(--font-name--default), sans-serif;
  --font-stack-monotype: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* Font families */
  --font-family--default: var(--font-stack--default);

  /* property-set defining the light font-face */
  --font-weight--thin: 200;
  --font-weight--medium: 600;
  --font-weight--bold: 800;
}
