/*
  Aspect Ratio
  Usage example:

  @mixin aspect-ratio(4, 3);
*/

@define-mixin aspect-ratio (--width, --height) {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: percentage(var(--height) / var(--width));
    position: relative;
    z-index: 1;
  }
}
