/*
  Define type configuration
*/

:root {
  /* Base body font size */
  --type-size--default: 16px;

  /* Base body line height for the body element. */
  --type-line-height: 1.4;

  /* Base body responsive typography. */
  --type-responsive-min: rem(14px);
  --type-responsive-max: rem(16px);
  --type-responsive-range: rem(384px) rem(1152px);
}
