:root {
  --target-padding: rem(16px);
  --trigger-padding: rem(10px) var(--target-padding);
  --border-style: 1px solid var(--color-gray);
  --trigger-bg-color: var(--color-gray-light);
  --target-bg-color: var(--color-white);
}

.accordion {
  .expand__trigger {
    cursor: pointer;
  }

  .expand__target {
    overflow: hidden;
  }

  /* Style Variants */
  &--default {
    .expand__trigger {
      background-color: var(--trigger-bg-color);
      border: var(--border-style);
      color: var(--color-gray-dark);
      font-size: rem(16px);
      font-weight: normal;
      margin-top: rem(-1px);
      padding: var(--trigger-padding);
    }

    .expand__target {
      background-color: var(--target-bg-color);
      padding: var(--target-padding);
    }

    .expand-state--closed {
      .expand__target {
        padding: 0;
      }
    }

    .expand-state--open {
      .expand__target {
        border: var(--border-style);
        margin-top: rem(-1px);
        transition: padding-top 0.5s, padding-bottom 0.5s, max-height 0.1s 0.1s ease;
      }
    }
  }

  &--spread {
    @extend-all .accordion--default;

    .expand:not(:last-child) {
      margin-bottom: rem(16px);
    }
  }
}
