.image {
  position: relative;
  width: 100%;

  &--auto {
    max-width: 100%;
    width: auto;
    height: auto;
  }


  /* Container background */
  &--container {
    position: relative;

    .image--background {
      z-index: 1;
    }

    .image--color {
      z-index: 2;
    }

    .image--inner {
      position: relative;
      z-index: 3;
    }

    .image--color,
    .image--background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
