.image {
  position: relative;
  width: 100%;

  &--auto {
    max-width: 100%;
    width: auto;
    height: auto;
  }


  /* Container background */
  &__content {
    position: relative;
    z-index: 3;
  }

  &__background {
    z-index: 1;
  }

  &__color {
    z-index: 2;
  }

  &__color,
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
