@import "./Root.font-face.css";
@import 'reset-css';

* {
  box-sizing: border-box;
}

body {
  font-size: var(--type-size--default);
  font-family: var(--font-family--default);
  font-range: var(--type-responsive-range);
  line-height: var(--type-line-height);
}

pre,
code {
  font-family: monospace;
  line-height: rem(24px);
}

button {
  background-color: transparent;
  font-size: rem(16px);
}
