:root {

  /* CSS variables */
}

.accessibility {

  /* Accessibility variants */

}

/* Screen reader friendly hidden class */
.hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
  left: -999rem;
  top: -999rem;
  z-index: var(--zindex--hidden);
}
