/* variants */
.rhythm {
  &,
  &--default,
  &--medium { & > * + * { margin-top: rem(16px); } }

  &--small { & > * + * { margin-top: rem(8px); } }

  &--large { & > * + * { margin-top: rem(32px); } }

  &--deep {
    &,
    &-default,
    &-medium { & * + * { margin-top: rem(16px); } }

    &-small { & * + * { margin-top: rem(8px); } }

    &-large { & * + * { margin-top: rem(32px); } }
  }
}

