:root {

  /* CSS variables */
}

.alert {

  /* Baseline styles */

  &--buttons {
    justify-content: flex-end;
    padding: rem(24px) 0;
  }

  /* Style variants */
  &--inline {
    background-color: var(--color-gray-light);
    border-radius: 5px;
    color: var(--color-red);
    padding: rem(16px);
    
    &.alert-hidden {
      display: none;
    }
  }

  .alert-close-btn:hover {
    color: darkgray;
  }
}

.alert-modal-id-01 {
  .modal-inner {
    text-align: center;
  }
}
