.link {
  text-decoration: underline;

  /* variants */
  &--default {
    color: var(--color-blue);

    &:--enter {
      color: var(--color-blue);
    }
  }

  &--cta {
    color: var(--color-blue);

    &:--enter {
      color: var(--color-blue);
    }
  }
}
