.link {
  text-decoration: underline;
  cursor: pointer;

  /* variants */
  &--default {
    color: var(--color-black);

    &:--haf {
      color: var(--color-black);
    }
  }

  &--cta {
    color: var(--color-black);

    &:--haf {
      color: var(--color-black);
    }
  }

  &--icon {
    display: flex;
    width: fit-content;
  }
}
