:root {
  --size-small: 480px;
  --size-medium: 768px;
  --size-large: 1024px;
  --size-extraLarge: 1200px;

  --padding-small: rem(4px) rem(8px) rem(8px);
  --padding-medium: rem(4px) rem(16px) rem(16px);
  --padding-large: rem(4px) rem(24px) rem(24px);
}

.modal {
  background: rgba(0, 0, 0, 0.25);
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  white-space: nowrap;
  z-index: -1;
  -webkit-overflow-scrolling: touch;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    width: 0;
  }

  /* for multiple modals */
  &[data-modal-hide] {
    &.modal-visible {
      display: none;
    }
  }

  &.overflowing {
    & .modal-inner {
      height: 100%;

      &--height {
        overflow-x: hidden;
        overflow-y: scroll;
      }
    }
  }

  & > * {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
  }

  & .button { margin-top: rem(16px); }

  &-visible {
    display: block;
    opacity: 1;
    transition: opacity 0.2s;
    z-index: 99;

    & .modal-inner--width {
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.2s, transform 0.2s;
      z-index: 100;
    }
  }

  &-inner {
    background-color: var(--color-white);
    margin: auto; 
    padding: rem(20px); 
    position: relative; 
    text-align: left;
    width: 100%;

    &--width {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      margin: auto;
      position: relative;
      transform: scale(0);
      transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
      width: 100%;
      z-index: -1;

      @media (--large) {
        margin: 0;
      }
    }
  }

  /* size variants */
  &--small .modal-inner      { max-width: var(--size-small);      }

  &--medium .modal-inner     { max-width: var(--size-medium);     }

  &--large .modal-inner      { max-width: var(--size-large);      }

  &--extraLarge .modal-inner { max-width: var(--size-extraLarge); }

  /* padding variants */
  &--padding-none {
    .modal-inner--width,
    .modal-inner--height { padding: 0; }
  }

  &--padding-small {
    .modal-inner--width,
    .modal-inner--height { padding: var(--padding-small); }
  }

  &--padding-medium {
    .modal-inner--width,
    .modal-inner--height { padding: var(--padding-medium); }
  }

  &--padding-large {
    .modal-inner--width,
    .modal-inner--height { padding: var(--padding-large); }
  }

  /* style variants */
  &--default .modal-inner--width {
    background: var(--color-white);
    border-radius: 4px;
  }

  .icon--close {
    cursor: pointer;
    fill: var(--color-gray);
    float: right; 
    font-size: 20px;  
  }
}
