:root {
  --size-small: 480px;
  --size-medium: 768px;
  --size-large: 1024px;
  --size-extra-large: 1200px;
}

.modal {
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  white-space: nowrap;

  /* Aspect ratio helper */
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    width: 0;
  }

  & > * {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
  }

  &.hidden {
    .modal-inner--width {
      transform: scale(0);
    }
  }

  /* Inner container */
  &-inner {
    width: 100%;

    &--width {
      height: 100%;
      margin: auto;
      position: relative;
      transform: scale(1);
      transition: all 0.15s;
      width: 100%;

      @media (--large) {
        margin: 0;
      }
    }
  }

  /* Supporting style for element options */
  &--overlay-false { background: transparent !important; }

  /* For small viewports */
  &.overflowing {
    & .card,
    & .card__body,
    & .scrollblock,
    & .modal-inner,
    & .modal-inner--width,
    & .modal-inner--height,
    & .card__body {
      height: 100%;
    }

    & .card__body {
      .scrollblock {
        overflow-x: hidden;
        overflow-y: scroll;
      }
    }
  }

  /* size variants */
  &--small .modal-inner {
    max-width: var(--size-small);
  }

  &--medium .modal-inner {
    max-width: var(--size-medium);
  }

  &--large .modal-inner {
    max-width: var(--size-large);
  }

  &--extra-large .modal-inner {
    max-width: var(--size-extra-large);
  }

  /* Style variants */
  &--default {
    background: rgba(0, 0, 0, 0.25);

    .modal-content {
      background: var(--color-white);
    }
  }

  /* Close variants */
  &-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    padding: 0;
    position: absolute;
    right: 5px;
    top: -35px;
    z-index: calc(var(--zindex--content) + 2);

    &:before {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: var(--zindex--content);
    }

    &:--haf {
      background-color: transparent;
    }
  }

  .card &-close {
    position: relative;
    right: 0;
    top: 0;
  }
}
