.input {
	/* Textual */
	&:not(.input-radio):not(.input-checkbox) {
		.field__native {
			min-height: 1.90rem;
		}
	}

  /* Radios & Checkboxes */
  &-radio,
  &-checkbox {
  	position: relative;

  	.field--inline-left { flex-direction: row-reverse; }
  	.field--inline-right { flex-direction: row; }

  	.field__label {
  		display: flex;
  		align-content: center;
  		justify-content: space-between;

			&:before {
				content: '';
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				display: inline-block;
				margin: 0 0.45rem;
				width: var(--field__radio-size);
				height: var(--field__radio-size);
			}
  	}

		.field__native {
			cursor: pointer;
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
		}

		&.field--inline-left {
			.field__label {
				flex-direction: row;
			}
		}

		&.field--inline-right {
			.field__label {
				flex-direction: row-reverse;
			}
		}		
  }

  &-radio {
  	.field__native {
			& + .field__label {
				&::before {
					background-image: url('./assets/radio-unchecked.svg');
					border-radius: var(--field__radio-size);
				}
			}

			&:checked {
				display: block;
				& + .field__label:before {
					background-image: url('./assets/radio-checked.svg');
				}
			}
		}
  }

  &-checkbox {
  	.field__native {
			& + .field__label {
				&::before {
					background-image: url('./assets/checkbox-unchecked.svg');
				}
			}

			&:checked {
				display: block;
				& + .field__label:before {
					background-image: url('./assets/checkbox-checked.svg');
				}
			}
		}
  }
}
