.button {
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: rem(16px) rem(24px);

  & + .button {
    margin-left: rem(16px);
  }

  &:--haf {
    text-decoration: underline;
  }

  /* variants */
  &--primary {
    background-color: var(--color-gray-light);
    border: 2px solid var(--color-black);
    color: var(--color-gray-dark);

    &:--enter {
      background-color: var(--color-gray);
      color: var(--color-white);
      fill: var(--color-black);
    }
  }

  &--secondary {
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    color: var(--color-black);

    &:--enter {
      background-color: var(--color-black);
      color: var(--color-white);
      fill: var(--color-white);
    }
  }

  &--tertiary {
    background-color: var(--color-gray-dark);
    border: 2px solid var(--color-gray-light);
    color: var(--color-gray-light);

    &:--enter {
      background-color: var(--color-gray-light);
      color: var(--color-black);
      fill: var(--color-white);
    }
  }

  &--link {
    text-decoration: none;
  }

  &--icon {
    background-color: transparent;
    border: none;
    font-size: rem(16px);
    padding: 2px;

    &:hover,
    &:active {
      background-color: transparent;
      fill: var(--color-black);
    }
  }

  /* sizes */
  &--inline {
    display: inline-block;
    width: auto;
  }

  &--small {
    width: 25%;
  }

  &--medium {
    width: 50%;
  }

  &--large {
    display: block;
    width: 100%;
  }

  &[aria-pressed="true"] {
    background-color: var(--color-gray-light);
    border-color: var(--color-gray-light);
  }
}
