:root {
	--border-styles: 1px solid var(--color-gray);
	--tabs-bg-color: var(--color-white);
  --tabs-trigger-padding: 0.5rem;
  --tabs-target-padding: 1rem;
}
.tabs {
	@media (--medium) {
	  display: flex;
	  position: relative;
  }

  &__trigger {
  	&.tabs-state--open {
  		& + .tabs__target { display: block; }
  	}
  }

  &__target { display: none; }

  /* Tabs alignment & justification */
  &-align {
    &--left,
    &--right {
      @media (--medium) { display: grid; }

      .tabs__target {
        grid-row-start: 20;
        grid-row-end: 1;
      }     
    }

    &--left {
      grid-template-columns: 15% 85%;

       .tabs__trigger { grid-column-start: 1; }
      .tabs__target { grid-column-start: 2; }
    }

    &--right {
      grid-template-columns: 85% 15%;

       .tabs__trigger { grid-column-start: 2; }
      .tabs__target { grid-column-start: 1; }
    }

    /* Order is controlled via JS Containre with the CSS order: X; prop */
    &--top,
    &--bottom { flex-flow: row wrap; } 

    &--top {
      .tabs__trigger { order: 1; }
      .tabs__target { order: 2; }
    }

    &--bottom {
      .tabs__trigger{ order: 2;  }
      .tabs__target { order: 1; }      
    }
  }

  &-justify {
    /* Justify horizontal tabs system to left */
    &--left { justify-content: flex-start; }

    /* Justify horizontal tab systems to center */
    &--center { justify-content: center; }

    /* Justify horizontal tab systems to right  */
    &--right { justify-content: flex-end; }

    &--bottom { 
      &,
      .tabs__trigger,
      .tabs__target {
        @media (--medium) {
          transform: rotateX(180deg); /* Justify vertical aligned tab systems to bottom */
        }
      }      
    }
  }

  /* Style variants */
  &--default {
  	.tabs__trigger,
  	.tabs__target {
  		@media (--medium) {
  			background-color: var(--tabs-bg-color);
  		}
  	}

  	.tabs__trigger {
			border: var(--border-style);
			cursor: pointer;
			font-size: 1.35rem;
			padding: var(--tabs-padding);
			position: relative;
			z-index: 2;
			background-color: var(--color-gray-light);

			@media (--medium) {
				padding: var(--tabs-trigger-padding) 0.85rem;
			}
  	}

    @media (--below-medium) {
      .tabs__target {
        border-top: none;
        border-bottom: none;
      }      
    }

  	@media (--medium) {
    	&.tabs-align--top {
    		.tabs-state--open { border-bottom: 1px solid var(--tabs-bg-color); }
    		.tabs__target     {	margin-top: -1px; }
    	}

    	&.tabs-align--bottom {
  			.tabs-state--open { border-top: 1px solid var(--tabs-bg-color); }
    		.tabs__target     { margin-bottom: -1px; }
    	}

      &.tabs-align--left {
        .tabs-state--open { border-right: 1px solid var(--tabs-bg-color); }
        .tabs__target     { margin-left: -1px; }
      } 

      &.tabs-align--right {
        .tabs-state--open { border-left: 1px solid var(--tabs-bg-color); }
        .tabs__target     { margin-right: -1px; }      
      }
    }

  	.tabs__target {
  		border: var(--border-style);
			padding: var(--tabs-target-padding);
			position: relative;
			z-index: 1;
  	}
  }
}
