:root {
  --border-styles: 1px solid var(--color-gray);
  --tabs-bg-color: var(--color-white);
  --tabs-trigger-padding: rem(8px);
  --tabs-target-padding: rem(16px);
}

/* Baseline styles */
.tabs {
  .hide > *,
  &__triggers {
    display: none;
  }

  &__target {
    &:before {
      background-color: var(--color-gray-light);
      padding: rem(16px);
      content: attr(data-tabs-trigger-title);
      display: block;

      &:not(.hide) {
        margin-bottom: rem(16px);
      }
    }
  }

  @media (--large) {
    .hide,
    .tabs__target:before {
      display: none;
    }

    &.flex--column {
      &, &-reverse {
        .tabs__triggers {
          display: flex;
        }
      }
    }

    &.flex--row {
      &, &-reverse {
        .tabs__triggers {
          display: block;
        }
      }
    }
  }

  /* Style variants */
  &--default {

    /* Trigger styles */
    .tabs__trigger {
      background-color: var(--tabs-bg-color);
      border: var(--border-styles);
      cursor: pointer;
      display: block;
      min-width: 190px;
      position: relative;
      text-align: center;
      text-decoration: none;
      z-index: var(--zindex--content);

      &.active {
        text-decoration: underline;
      }
    }

    /* Target styles */
    .tabs__target {
      background-color: var(--tabs-bg-color);
      border: var(--border-styles);
      height: 100%;
      position: relative;
      z-index: var(--zindex--base);
    }

    /* Borders */
    &.flex--column {
      .active {
        border-bottom: 1px solid var(--tabs-bg-color);
        margin-bottom: rem(-1px);
      }

      &-reverse {
        .active {
          border-top: 1px solid var(--tabs-bg-color);
          margin-top: rem(-1px);
        }
      }
    }

    &.flex--row {
      .active {
        border-right: 1px solid var(--tabs-bg-color);
        margin-right: rem(-1px);
      }

      &-reverse {
        .active {
          border-left: 1px solid var(--tabs-bg-color);
          margin-left: rem(-1px);
        }
      }
    }
  }
}
