:root {
	--field-padding: 0.25rem 0.35rem;
	--field__radio-size: 1rem;
}

.field {
	&__error {
  	.field__native {
			outline: none;
			border: 1px solid var(--color-red);

			& + .field__label:before {
				border: 1px solid var(--color-red);
			}
  	}
	}

	&__label { 
		display: block;
		padding: var(--field-padding);
	}

	&__native { 
		padding: var(--field-padding);
		border: 1px solid var(--color-black);
		margin: 0;
		padding: 0;

		&:focus:invalid {
			outline: none;
			border: 1px solid var(--color-red);

			& + label:before {
				border: 1px solid var(--color-red);
			}  			
		}  		
	}

	&--stacked-top,
	&--stacked-bottom,
	&--inline-left,
	&--inline-right {
		display: flex;
	}

	/* Stackeded */
	&--stacked-top,
	&--stacked-bottom {
		align-items: flex-start;
		.field__label {
			padding-left: 0;
			padding-right: 0;
		}		
	}

	&--stacked-top { flex-direction: column-reverse; }
	&--stacked-bottom { flex-direction: column; }

	/* Inline */
	&--inline-left { flex-direction: row-reverse; justify-content: flex-end; }
	&--inline-right { flex-direction: row; }
}
